*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #cfd8db   ;
}

/*********** index  ************/
.wrapper{
    height: 100%;
    width: 100%;
}


#top__wrapper{
    width: 100%;
    height: 8%;
    border-bottom: 0px solid brown;
    background-color: #bac1c4;
    font-size: 3rem;    
    line-height: 5rem;
    text-align: center;
}
#index__wrapper{
    justify-self: flex-start;
    cursor: pointer;
}

#header{
    width: 93%;
    text-align: center;
}

/*********** index ************/

/***********buttons ************/
#solution__wrapper{
    height: 92%;
    min-height: 90%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#section__header{
    margin:0rem 0 1rem 0.5rem;
    padding-top: 1rem;
    height: 5rem;
    font-size: 2.5rem;
    justify-content: flex-start !important;
}

#problem_button{
    font-weight: normal;
}


#pb__text:hover{
    background-color: #dfe4ea;
    color: #2f3542;
    font-weight: bold;
    border: 3px solid #2f3542;
}

#problem_button:active{
    transform: scale(0.98);
}
#index__text:active{
    transform: scale(0.98);
}



#pb__text{
    background-color: #2d3436;
    color: whitesmoke;
    padding: 0.3rem 2rem;
    cursor: pointer;
    border: 2px solid #2d3436;
}

#javascript_button{
    margin-left: 1rem;
}
#section__header .active{
    background-color: whitesmoke;
    color: #2d3436;
    font-weight: bold;
    border: 2px solid #2d3436;
}
/***********buttons ************/

/*********** content************/
#content__wrapper{
    width: 100%;
    margin-bottom: 2rem;
}

.block{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem    ;
    border: 1px solid #57606f;
    
}

#block__header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    background-color: #a4b0be;
    color: black;
    font-weight: bold;
    
}

#question b{
    font-size: 1.25em;
    color: brown;
}

#block__header span{
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

#block__content{
    width: 100%;

    min-height: 5vh;
    background-color: whitesmoke;
}

.content_span{
    font-family: 'Roboto';
    display: block;
    height: auto;
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
    line-height: 2.25rem;
    font-size: 1.75rem;
    text-align: justify;
    
}

#quine{
    font-size: 1.5rem;    
    overflow-x: auto;
    white-space: pre !important;
    padding-bottom: 1.5rem;
    min-height: 5vh;
    padding-left: 1rem;
    padding-top: 0.5rem;
}



pre {
    white-space: pre-wrap;
}

#q_text{
    padding-left: 1rem;
    overflow-x: auto;
}


.c_btn, .c_btn{
    float: right;
    padding: 0 1rem;
    cursor: pointer;
    margin: 0 !important;
    text-transform: capitalize;
}

#code .active{
    border: 0;
    background-color: black;
    color: whitesmoke;
}
/*********** content************/






/*********** modal index ************/
#modal{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(178, 190, 195,0.6);
    font-size: 1.95rem;
    font-family: 'Poppins';
}
#modal__index{
    width: 25%;
    height: 100%;
    background-color: rgb(12, 17, 19);
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    color: white;    
    overflow-y: auto;
}

.index__tile{
    padding: 0.9rem 0 0.9rem 3rem;
    border-bottom: 1px solid rgb(12, 17, 19);
}
.index__tile.active{
    background-color: white;
    color: rgb(12, 17, 19);
}
.index__tile:hover{
    border-color: whitesmoke;
    cursor: pointer;
}

#modal.active{
    display: block;
}
/*********** modal index ************/






/*********** scroll bar ************/
/* width */
::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}
::-webkit-scrollbar:focus {
    width: 1rem !important;
    height: 1rem !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1abc9c;
    border-radius: 2rem;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffa502;
}
/*********** scroll bar ************/

/*********** global ************/
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button:active{
    transform: scale(0.98);
}
/*********** global ************/

/*********** media quries************/
@media only screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
    #header{
        width: 90%;
    }
    #solution__wrapper{
        height: 92%;
        min-height: 90%;
        width: 100%;
    }

    #section__header{
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #pb_text{
        padding: 0.3rem 1rem;
    }
    

    #modal{
        height: 100%;
    }

    #modal__index{
        width: 65%;
        height: 100%;
    }
}
/*********** media quries************/